ion-item {
  margin-bottom: 16px;
}

ion-button {
  margin-top: 24px;
}

.card-wrapper {
  margin-bottom: 24px;
}

.card-wrapper
  .ant-upload-list.ant-upload-list-picture-card
  .ant-upload-list-item-container {
  width: 100% !important;
  height: 300px !important;
}
